
.card-out {
  margin-left:1100px;
}

.card {
  border-radius: 15px;
  background-color: rgba(221, 68, 41, 0.9);
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 5px;
  box-sizing: border-box;
   margin-left: 679px;

  
}


.login-container {
  background-image: url('/src/assets/images/log.jpeg');
  background-size: cover;
  background-position: center;
  width: 98.8vw;
  min-height: 90.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.btn-primary {
  background-color: #ff5722;
  border: none;
}
.btn-primary:hover {
  background-color: #e64a19;
}


.brand {
  color: #ff5722;
  font-weight: bold;
}



@media (max-width: 576px) {
  

  .login-container {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  
    background: #fff;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .card {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
      border: 0;
      
  }

  .card-out {
  margin-left:0px;
}


  h3 {
    font-size: 1.4rem;
  }
}