.card {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.897);
    height: 500px;
    width:400px;
    padding: 15px;
    margin: 10px;
    
}
.card-out{
  margin-left: 50px;

}
.register-container {
  
  background-image: url('../assets/images/regbackground.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  width:99vw;
}

.btn-primary {
    background-color: #ff5722;
    border: none;
}
.register-container {
  display: flex;
  align-items: center;
}

.card {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.897);
  height: 720px;
  margin-left: 10px;
}

.btn-primary {
  background-color: #ff5722;
  border: none;
}

.btn-primary:hover {
  background-color: #e64a19;
}

.brand {
  color: #ff5722;
  font-weight: bold;
}

@media (max-width: 576px) {
  .register-container {
    background-image: none !important;
  }

  .card {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    height: 110vh;
  }

  h3 {
    font-size: 1.4rem;
  }
}

.btn-primary:hover {
    background-color: #e64a19;
}

.brand {
    color: #ff5722;
    font-weight: bold;
}

@media (max-width: 576px) {
    .register-container {
        background-image: none;
    }

    .card {
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        height: 110vh;
    }

    h3 {
        font-size: 1.4rem;
    }
}
