.image {
  background-image: url("/src/assets/images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.nav-item{
  text-decoration: none;
  color: white;
}
.car {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: transparent;
}

@media (max-width: 576px) {
  .image {
    background-size: cover;
    background-position: top;
    height: 90vh; 
}


@media (max-width: 1260px) {
  .image {
    background-size: cover;
    background-position: center;
  }
}

.lead {
  color: red;
}
}
