
.card {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 20px;
}


.card-out {
  margin-left: 50px;
}


.register-container {
  background-image: url('/src/assets/images/bgsign.jpeg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.btn-primary {
  background-color: #ff5722;
  border: none;
}
.btn-primary:hover {
  background-color: #e64a19;
}


.brand {
  color: #ff5722;
  font-weight: bold;
}


@media (min-width: 1400px) {
  .card {
    width: 450px;
    padding: 25px;
  }
}


@media (max-width: 1399px) and (min-width: 992px) {
  .card {
    width: 420px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .register-container {
    padding: 30px 0;
  }

  .card {
    width: 380px;
    margin: 10px auto;
  }
}


@media (max-width: 567px) {
  .register-container {
    background-image: none !important;
    background: #fff;
    padding: 20px 10px;
    flex-direction: column;
  }

  .card {
    width: 100%;
    max-width: 95%;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
  }

  h3 {
    font-size: 1.4rem;
  }
}
